/* Reset default styles */
* {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0px auto;
    line-height: 1.8;
}

ul li {
    font-size: 14px; /* Adjust the font size as needed */
}

#vis svg {
    margin: 2rem 0;
    border: 1px solid #ccc; /*otherwise you can't see this part*/
}

.x-axis path,
.y-axis path,
.x-axis line,
.y-axis line {
    stroke: #333;
    shape-rendering: crispEdges;
}

.x-axis text,
.y-axis text {
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.axis-label {
    font-size: 14px;
    font-weight: bold;
}

#tooltip {
    position: absolute; /* So we can move it with the cursor */
    padding: 10px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    pointer-events: none; /* Prevent tooltip from interfering with mouse events */
    font-size: 12px;
}


/* CSS below taken from https://gist.github.com/ElefHead/ebff082d41ef8b9658059c408096f782 */
.background {
    fill: lightblue;
    opacity: 0.4;
    pointer-events: all;
}

#states {
    fill: none;
}

#states .active {
    display:none;
}

#state-borders {
    fill: none;
    stroke: none;
    stroke-width: 1.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

.county-boundary {
    fill: none;
    stroke: black;
    stroke-width: .15px;
}

.county-boundary:hover, .state:hover {
    fill: orange;
}